<title>Haley + Dustin are getting married</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta property="og:title" content="Haley + Dustin are getting married" />
<meta property="og:description" content="Events taking place in Tampa, Florida." />
<meta property="og:image" content="https://quiet-waters-66931.herokuapp.com/photos/splash.jpg" />
<meta property="og:url" content="http://www.greenepopp.com" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<link rel="icon" href="https://quiet-waters-66931.herokuapp.com/favicon.ico" />
<link rel="stylesheet" href="/style.css" />
