<html>

<head>
  <% include partials/meta.html.ejs %>
    <link rel="stylesheet" href="/style2.css" />
    <script src="//use.typekit.net/ohd3igy.js"></script>
    <script>try { Typekit.load(); } catch (e) { }</script>
</head>

<body class="full" onload="document.body.setAttribute('class','full loaded')">
  <div id="splash" class="main" style="background-image: url('/photos/splash-lores.jpg');">
    <script>
      var img = new Image()
      img.src = '/photos/splash.jpg'
      img.onload = function () {
        document.getElementById('splash').style.backgroundImage = 'url(/photos/splash.jpg)';
      }
    </script>

    <div class="meat">

      <div class="details">
        <div>
          <img src="/wedding_logo_green.png" width=250px height="auto">
          <h3>March 8&ndash;9 2019</h3>
          <h3>
            First Presbyterian Church
            <br /> Palma Ceia Country Club
            <br /> Tampa, Florida
          </h3>
        </div>
      </div>

    </div>
  </div>

  <nav>
    <div>
      <a href="#">
        <img src="/wedding_logo_green.png" height=100% width=auto> </a>
      <ul>
        <li>
          <a href="#schedule">Schedule</a>
        </li>
        <li>
          <a href="#bridal-party">Bridal Party</a>
        </li>
        <li>
          <a href="#location">Location</a>
        </li>
        <li>
          <a href="#lodging">Lodging</a>
        </li>
        <li>
          <a href="#guide">Guide</a>
        </li>
        <li>
          <a href="#gifts">Gifts</a>
        </li>
      </ul>
    </div>
  </nav>
  <script type="text/javascript">
    var nav = document.getElementsByTagName('nav')[0]
    var pos = nav.offsetTop
    var sticky = false;
    window.addEventListener('resize', function () {
      pos = nav.offsetTop
    })
    window.addEventListener('scroll', function () {
      if (!sticky && window.scrollY > pos) {
        nav.style.position = 'fixed'
        sticky = true
      } else if (sticky && window.scrollY < pos) {
        nav.style.position = ''
        sticky = false
      }
    })
  </script>

  <section id="schedule">
    <div class="header">
      <div class="content">
        <h2>Weekend Schedule</h2>
      </div>
    </div>

    <div class="content">

      <h3>Friday, March 8</h3>

      <h4>Wedding Rehearsal (Invitation Only)</h4>
      <p class="meta">
        First Presbyterian Church
        <br /> 412 E. Zack St.
      </p>
      <p class="meta">4:30 PM</p>

      <h4>Rehearsal Dinner (Invitation Only)</h4>
      <p class="meta">
      The Orlo House
      315 S. Plant Ave.
      </p>
      <p class="meta">5:30 PM</p>

      <h4>Rehearsal Dinner (Invitation Only)</h4>
      <p class="meta">
      The Orlo House
      315 S. Plant Ave.
      </p>
      <p class="meta">8 PM</p>

      <h3>Saturday, March 9</h3>

      <h4>Wedding Ceremony</h4>
      <p class="meta">
        First Presbyterian Church
        <br /> 412 E. Zack St.
      </p>
      <p class="meta">Evening</p>

      <h4>Cocktail Hour + Reception</h4>
      <p class="meta">
        Palma Ceia Country Club
        <br /> 1601 S. MacDill Ave.
      </p>
      <p class="meta">Evening</p>

    </div>
  </section>

  <section id="bridal-party">
    <div class="header">
      <div class="content">
        <h2>Bridal Party</h2>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Emmaline Stokes</h4>
              <p class="meta">Maid of Honor</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/lauren.png">
            </div>

          </div>
          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/colby.png">
            </div>
            <div class="party-description">
              <h4>Daniel Boling</h4>
              <p class="meta">Best Man</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="location">
    <div class="header">
      <div class="content">
        <h2>Tampa, Florida</h2>
      </div>
    </div>
    <div class="content">


      <p>
        We can't wait to share our hometown with you!
      </p>

      <!-- GETTING THERE
Getting there map 1: from TPA to recommended hotel
Gettiner there map 2: from hotel to church
Getting there map 3: from church to PCCC -->

      <h3>GETTING THERE</h3>

      <div class="columns">
        <div>
          <a href="https://www.google.com/maps/dir/PSP/Ace+Hotel+%26+Swim+Club/@33.8156275,-116.54124,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x80db1c7c0bfb1c7b:0xdcc20f4d33f42890!2m2!1d-116.5070468!2d33.8303194!1m5!1m1!1s0x80db1b14883839e1:0x9a6d0c4d3dba305c!2m2!1d-116.540414!2d33.800938"
            target="_blank">
            <div class="map">
              <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJexz7C3wc24ARkCj0M00Pwtw&destination=place_id:ChIJ4Tk4iBQb24ARXDC6PU0MbZo&key=AIzaSyAsoTOqJXsA0HGfOTFy6UEqwOqJkphvWpU"></iframe>
            </div>

            <h4>Palm Springs Airport (PSP)</h4>
          </a>
          <p>A 10-minute cab ride from Ace Hotel &amp; Swim Club, the all-outdoor Palm Springs Airport is the quickest and easiest
            way to get to Palm Springs.</p>
        </div>

        <div>
          <a href="https://www.google.com/maps/dir/LAX/Ace+Hotel+%26+Swim+Club/@33.9428199,-118.0346983,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x80c2b0d213b24fb5:0x77a87b57698badf1!2m2!1d-118.40853!2d33.9415889!1m5!1m1!1s0x80db1b14883839e1:0x9a6d0c4d3dba305c!2m2!1d-116.540414!2d33.800938"
            target="_blank">
            <div class="map">
              <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJtU-yE9KwwoAR8a2LaVd7qHc&destination=place_id:ChIJ4Tk4iBQb24ARXDC6PU0MbZo&key=AIzaSyAsoTOqJXsA0HGfOTFy6UEqwOqJkphvWpU"></iframe>
            </div>
            <h4>Los Angeles Airport (LAX)</h4>
          </a>
          <p>A 2 to 3 hour drive from Palm Springs, we only recommend flying into Los Angeles if you're picking up family or
            exploring the area before or after the weekend.</p>
        </div>
      </div>

      <div class="weather">
        <h3>Weather Report</h3>
        <p>
          Tampa is reliably sunny and warm, and March is usually beautiful! Highs are usually in the low 80s, with temperatures dropping
          to the mid 60s at night."
        </p>
        <!-- Change weather -->
        <a href="https://www.wunderground.com/history/airport/KPSP/2017/5/6/MonthlyCalendar.html?req_city=Palm%20Springs&req_state=CA"
          target="_blank">
          <div class="weather-glyph">
            <img src="/sunny.png" />
            <span class="high">36&deg;</span>
            <span class="low">8&deg;</span>
          </div>
        </a>
      </div>

    </div>
  </section>

  <section id="lodging">
    <div class="header">
      <div class="content">
        <h2>Stay With Us</h2>
      </div>
    </div>
    <div class="content">

      <h3> ALOFT, COURTYARD, RESIDENCE INN </h3>
      <p class="meta">All located in Downtown Tampa.</p>
      <p>
        The following links provide access to discounted rates and reserved rooms:
        <br /> <a href="https://www.starwoodmeeting.com/events/start.action?id=1806126976&key=13C80EB1">Aloft</a>
        <br /> <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Popp%20Greene%20Wedding%5ETPADT%60PGWPGWA%7CPGWPGWB%60209%60USD%60false%605%60;TPATD%60pgwpgwa%7Cpgwpgwb%60220%60USD%60false%605%603/8/19%603/10/19%602/15/19&app=resvlink&stop_mobi=yes">Courtyard by Marriott</a>
        <br /> <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Popp%20Greene%20Wedding%5ETPADT%60PGWPGWA%7CPGWPGWB%60209%60USD%60false%605%60;TPATD%60pgwpgwa%7Cpgwpgwb%60220%60USD%60false%605%603/8/19%603/10/19%602/15/19&app=resvlink&stop_mobi=yes">Residence Inn by Marriott</a>
      </p>

      <div class="wrap-photogrid">
        <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Popp%20Greene%20Wedding%5ETPADT%60PGWPGWA%7CPGWPGWB%60209%60USD%60false%605%60;TPATD%60pgwpgwa%7Cpgwpgwb%60220%60USD%60false%605%603/8/19%603/10/19%602/15/19&app=resvlink&stop_mobi=yes"
          target="_blank">
          <img src="/photos/hotels/residence-inn.jpg" width="170" />
        </a>

        <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Popp%20Greene%20Wedding%5ETPADT%60PGWPGWA%7CPGWPGWB%60209%60USD%60false%605%60;TPATD%60pgwpgwa%7Cpgwpgwb%60220%60USD%60false%605%603/8/19%603/10/19%602/15/19&app=resvlink&stop_mobi=yes"
          target="_blank">
          <img src="/photos/hotels/courtyard.jpg" width="170" />
        </a>

        <a href="https://www.starwoodmeeting.com/events/start.action?id=1806126976&key=13C80EB1" target="_blank">
          <img src="/photos/hotels/aloft-water.jpg" width="170" />
        </a>
      </div>


      <h3>Alternatives</h3>
      <p>
        If you prefer to stay elsewhere, there are a number of alternative hotels near the festivities.
      </p>

      <div class="columns">
        <div class="place">
          <a href="https://epicureanhotel.com/" target="_blank">
            <img src="/photos/hotels/alternates/epicurean.jpg" width="300" />
            <h4>Epicurean Hotel</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.marriott.com/hotels/travel/tpamc-tampa-marriott-waterside-hotel-and-marina/" target="_blank">
            <img src="/photos/hotels/alternates/marriott-waterside.jpg" width="300" />
            <h4>Tampa Marriott Waterside</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.airbnb.com/s/tampa/homes?refinement_paths%5B%5D=%2Fhomes&query=tampa&click_referer=t%3ASEE_ALL%7Csid%3A050eb43b-ce8d-4fc2-8aa8-b35b9fc676fc%7Cst%3AMAGAZINE_HOMES&title_type=MAGAZINE_HOMES&allow_override%5B%5D=&s_tag=8FoxfU1Yl" target="_blank">
            <img src="/photos/hotels/alternates/airbnb.jpg" width="300" />
            <h4>AirBnb</h4>
          </a>
        </div>
      </div>

    </div>
  </section>

  <section id="guide">
    <div class="header">
      <div class="content">
        <h2>Travel Guide</h2>
      </div>
    </div>
    <div class="content">

      <p>Tampa is a fun place to explore. We hope that you get a little extra time to find an adventure or something tasty.
        We've collected a few suggestions of our favorite things to eat, see, and do.</p>

      <div class="columns">
        <div>
          <h3>Food</h3>

          <a class="place" href="https://www.buddybrew.com/" target="_blank">
            <img src="/photos/places/buddy-brew.jpg" />
            <h4>Buddy Brew</h4>
          </a>

          <a class="place" href="http://armatureworks.com/" target="_blank">
            <img src="/photos/places/armatureworks.jpg" />
            <h4>Armature Works</h4>
          </a>

          <a class="place" href="http://www.bellasitaliancafe.com/" target="_blank">
            <img src="/photos/places/bellas.jpg" />
            <h4>Bella's Italian Cafe</h4>
          </a>

          <a class="place" href="http://www.wrightsgourmet.com/" target="_blank">
            <img src="/photos/places/wrights.jpg" />
            <h4>Wright's Gourmet House</h4>
          </a>

        </div>

        <div>
          <h3>Drink</h3>

          <a class="place" href="http://angrychairbrewing.com/" target="_blank">
            <img src="/photos/places/angry-chair.jpg" />
            <h4>Angry Chair Brewing</h4>
          </a>

          <a class="place" href="https://cigarcitybrewing.com/" target="_blank">
            <img src="/photos/places/cigar-city.jpg" />
            <h4>Cigar City Brewery</h4>
          </a>

          <a class="place" href="http://diveintampabay.com/2010/12/10/south-howards-best-retaurants-and-bars/" target="_blank">
            <img src="/photos/places/soho.jpg" />
            <h4>South Howard</h4>
          </a>

          <a class="place" href="https://www.cyclebrewing.com/" target="_blank">
            <img src="/photos/places/cycle-brewing.jpg" />
            <h4>Cycle Brewing</h4>
          </a>

        </div>
      </div>

      <div class="columns">
        <div>
          <h3>Outside</h3>

          <a class="place" href="" target="_blank">
            <img src="/photos/places/riverwalk.jpg" />
            <h4>Tampa Bay Riverwalk</h4>
          </a>

          <a class="place" href="" target="_blank">
            <img src="/photos/places/stpetebeach.jpg" />
            <h4>St. Petersburg Beach</h4>
          </a>

          <a class="place" href="http://riverwalkboating.com/" target="_blank">
            <img src="/photos/places/curtis-hixon.jpg" />
            <h4>Riverwalk Boating</h4>
          </a>

        </div>

        <div>
          <h3>Shopping + Art</h3>

          <a class="place" href="https://www.hydeparkvillage.com/" target="_blank">
            <img src="/photos/places/hyde-park.jpg" />
            <h4>Hyde Park Village</h4>
          </a>

          <a class="place" href="http://tampamuseum.org/" target="_blank">
            <img src="/photos/places/museumofart.jpg" />
            <h4>Tampa Museum of Art</h4>
          </a>

          <a class="place" href="https://oxfordexchange.com/" target="_blank">
            <img src="/photos/places/oxford-exchange.jpg" />
            <h4>Oxford Exchange</h4>
          </a>

        </div>
      </div>

    </div>
  </section>

  <section id="gifts">
    <div class="header">
      <div class="content">
        <h2>Gifts &amp; Registry</h2>
      </div>
    </div>
    <div class="content">

      <!-- change all these URLs -->
      <h3>
        <a href="https://www.zola.com/registry/huronwedding" target="_blank">
          CRATE + BARREL REGISTRY</a>
      </h3>
      <p>
        For the essentials; the pieces we will pick up every day
      </p>

      <h3>
        <a href="https://www.zola.com/registry/huronwedding" target="_blank">
          WEST ELM</a>
      </h3>
      <p>
        For the special occassions; the pieces to elevate the ordinary
      </p>

      <h3>
        <a href="https://www.zola.com/registry/huronwedding" target="_blank">
          AMAZON</a>
      </h3>
      <p>
        For the everything in between; the pieces we will rely on for the long haul
      </p>


    </div>
  </section>

  <footer>

    <img src="/wedding_logo_green.png" width=250px height="auto">

  </footer>
</body>

</html>