<html>

<head>
  <% include partials/meta.html.ejs %>
    <link rel="stylesheet" href="/style2.css" />
    <script src="//use.typekit.net/ohd3igy.js"></script>
    <script>try { Typekit.load(); } catch (e) { }</script>
</head>

<body class="full" onload="document.body.setAttribute('class','full loaded')">
  <div id="splash" class="main" style="background-image: url('/photos/splash-lores.jpg');">
    <script>
      var img = new Image()
      img.src = '/photos/splash.jpg'
      img.onload = function () {
        document.getElementById('splash').style.backgroundImage = 'url(/photos/color-splash.jpg)';
      }
    </script>

    <div class="meat">

      <div class="details">
        <div>
          <img src="/hd-final.png" width=250px height="auto">
          <h3>March 8&ndash;9, 2019</h3>
          <h3>
            First Presbyterian Church
            <br /> Palma Ceia Country Club
            <br /> Tampa, Florida
          </h3>
        </div>
      </div>

    </div>
  </div>

  <nav>
    <div>
      <ul>
        <li>
          <a href="#schedule">Schedule</a>
        </li>
        <li>
          <a href="#bridal-party">Bridal Party</a>
        </li>
        <li>
          <a href="#location">Location</a>
        </li>
        <li>
          <a href="#lodging">Lodging</a>
        </li>
        <li>
          <a href="#guide">Guide</a>
        </li>
        <li>
          <a href="#gifts">Gifts</a>
        </li>
      </ul>
    </div>
  </nav>
  <script type="text/javascript">
    var nav = document.getElementsByTagName('nav')[0]
    var pos = nav.offsetTop
    var sticky = false;
    window.addEventListener('resize', function () {
      pos = nav.offsetTop
    })
    window.addEventListener('scroll', function () {
      if (!sticky && window.scrollY > pos) {
        nav.style.position = 'fixed'
        sticky = true
      } else if (sticky && window.scrollY < pos) {
        nav.style.position = ''
        sticky = false
      }
    })
  </script>

  <section id="schedule">
    <div class="header">
      <div class="content">
        <h2>Weekend Schedule</h2>
      </div>
    </div>

    <div class="content">

      <h3>Friday, March 8</h3>

      <h4>Wedding Rehearsal (Invitation Only)</h4>
      <p class="meta">
        First Presbyterian Church
        <br /> 412 E. Zack St.
      </p>
      <p class="meta">5:00 PM</p>

      <h4>Rehearsal Dinner (Invitation Only)</h4>
      <p class="meta">
      Oxford Exchange
      <br /> 420 W. Kennedy Blvd.
      </p>
      <p class="meta">
      6:30 PM
      <br /> Attire: Formal
      </p>

      <h4>Welcome Party</h4>
      <p class="meta">
      The Popp House
      <br /> 105 S. Glen Ave.
      </p>
      <p class="meta">
      8:30 PM - 10:30 PM
      <br /> Attire: Casual
      </p>

      <h3>Saturday, March 9</h3>

      <h4>Wedding Ceremony</h4>
      <p class="meta">
        First Presbyterian Church
        <br /> 412 E. Zack St.
      </p>
      <p class="meta">4:00 PM</p>

      <br><b>Due to an event taking place downtown, we recommend using Uber or Lyft to get to First Pres as there will be limited street parking availability. Please allow extra time for transit to arrive on time!</b>

      <h4>Cocktail Hour + Reception</h4>
      <p class="meta">
        Palma Ceia Country Club
        <br /> 1601 S. MacDill Ave.
      </p>
      <p class="meta">
      5:00 PM
      <br /> Attire: Black Tie Optional
      </p>

    </div>
  </section>

  <section id="bridal-party">
    <div class="header">
      <div class="content">
        <h2>Bridal Party</h2>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <!-- row 1 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Emmaline Stokes</h4>
              <p class="meta">Maid of Honor</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/emmie.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/daniel.jpg">
            </div>
            <div class="party-description">
              <h4>Daniel Boling</h4>
              <p class="meta">Best Man</p>
            </div>
          </div>
        </div>
        <!-- row 2 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Gardner Popp</h4>
              <p class="meta">Bridesmaid</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/gardner.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/steve.jpg">
            </div>
            <div class="party-description">
              <h4>Steven Greene</h4>
              <p class="meta">Groomsman</p>
            </div>
          </div>
        </div>
        <!-- row 3 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Lauren Maloney</h4>
              <p class="meta">Bridesmaid</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/lauren.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/nick.jpg">
            </div>
            <div class="party-description">
              <h4>Nick Bond</h4>
              <p class="meta">Groomsman</p>
            </div>
          </div>
        </div>
        <!-- row 4 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Marin Arsenault</h4>
              <p class="meta">Bridesmaid</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/marin.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/shaq.jpg">
            </div>
            <div class="party-description">
              <h4>Shaquille Vayda</h4>
              <p class="meta">Groomsman</p>
            </div>
          </div>
        </div>
        <!-- row 5 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Liz Leverone</h4>
              <p class="meta">Bridesmaid</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/liz.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/jack.jpg">
            </div>
            <div class="party-description">
              <h4>Jack Crisafi</h4>
              <p class="meta">Groomsman</p>
            </div>
          </div>
        </div>
        <!-- row 6 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Emma McCallie</h4>
              <p class="meta">Bridesmaid</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/emma.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/devon.jpg">
            </div>
            <div class="party-description">
              <h4>Devon Baughen</h4>
              <p class="meta">Groomsman</p>
            </div>
          </div>
        </div>
        <!-- row 7 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Lindsay Riordan</h4>
              <p class="meta">Bridesmaid</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/lindsay.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/james.jpg">
            </div>
            <div class="party-description">
              <h4>James Clements</h4>
              <p class="meta">Groomsman</p>
            </div>
          </div>
        </div>
        <!-- row 8 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Winborne Hamlin</h4>
              <p class="meta">Bridesmaid</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/winborne.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/beau.jpg">
            </div>
            <div class="party-description">
              <h4>Beau Britain</h4>
              <p class="meta">Groomsman</p>
            </div>
          </div>
        </div>
        <!-- row 9 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Mary Denton Stumb</h4>
              <p class="meta">Bridesmaid</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/md.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/ben.jpg">
            </div>
            <div class="party-description">
              <h4>Ben Sisemore</h4>
              <p class="meta">Groomsman</p>
            </div>
          </div>
        </div>
        <!-- row 10 -->
        <div class="columns party-container">
          <div class="bridesmaid">
            <div class="party-description">
              <h4>Colby Dickinson</h4>
              <p class="meta">Bridesmaid</p>
            </div>
            <div class="party-pic">
              <img src="/photos/party/chicks/colby.jpg">
            </div>
          </div>

          <div class="groomsmen">
            <div class="party-pic">
              <img src="/photos/party/dudes/max.jpg">
            </div>
            <div class="party-description">
              <h4>Max Kramer</h4>
              <p class="meta">Groomsman</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="location">
    <div class="header">
      <div class="content">
        <h2>Tampa, Florida</h2>
      </div>
    </div>
    <div class="content">
      <p>
        We can't wait to share our hometown with you!
      </p>

      <h3>GETTING THERE</h3>

      <div class="columns">
        <div>
          <a href="https://www.google.com/maps/dir/Tampa+International+Airport,+4100+George+J+Bean+Pkwy,+Tampa,+FL+33607/Tampa,+FL/@27.9512289,-82.5153189,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x88c2c246939e4443:0x7a5b8408c601d509!2m2!1d-82.5370781!2d27.9834776!1m5!1m1!1s0x88c2b782b3b9d1e1:0xa75f1389af96b463!2m2!1d-82.4571776!2d27.950575"
            target="_blank">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d28195.149004306895!2d-82.51531893690193!3d27.95122885165551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x88c2c246939e4443%3A0x7a5b8408c601d509!2sTampa+International+Airport+(TPA)%2C+4100+George+J+Bean+Pkwy%2C+Tampa%2C+FL+33607!3m2!1d27.9834776!2d-82.5370781!4m5!1s0x88c2b782b3b9d1e1%3A0xa75f1389af96b463!2sTampa%2C+FL!3m2!1d27.950574999999997!2d-82.4571776!5e0!3m2!1sen!2sus!4v1532563335110" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <h4>Tampa International Airport (TPA) to Downtown</h4>
          </a>
          <p>
            All three hotels we've reserved with discounted rates are located just 15 minutes from TPA in the heart of downtown Tampa. 
          </p>
        </div>

        <div>
          <a href="https://www.google.com/maps/dir/The+First+Presbyterian+Church+of+Tampa,+412+E+Zack+St,+Tampa,+FL+33602/Palma+Ceia+Golf+%26+Country+Club,+South+MacDill+Avenue,+Tampa,+FL/@27.9380668,-82.4934011,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x88c2c48a30a2cdc3:0xcbd00fdd1726a2c!2m2!1d-82.4576604!2d27.9507246!1m5!1m1!1s0x88c2c33f84b24d99:0x8c8b6e254643526f!2m2!1d-82.4942521!2d27.9287067"
            target="_blank">
            <div class="map">
              <!-- <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJtU-yE9KwwoAR8a2LaVd7qHc&destination=place_id:ChIJ4Tk4iBQb24ARXDC6PU0MbZo&key=AIzaSyAsoTOqJXsA0HGfOTFy6UEqwOqJkphvWpU"></iframe> -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d28198.585096314382!2d-82.49340108691413!3d27.938066756620145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x88c2c48a30a2cdc3%3A0xcbd00fdd1726a2c!2sThe+First+Presbyterian+Church+of+Tampa%2C+412+E+Zack+St%2C+Tampa%2C+FL+33602!3m2!1d27.950724599999997!2d-82.4576604!4m5!1s0x88c2c33f84b24d99%3A0x8c8b6e254643526f!2sPalma+Ceia+Golf+%26+Country+Club%2C+South+MacDill+Avenue%2C+Tampa%2C+FL!3m2!1d27.9287067!2d-82.4942521!5e0!3m2!1sen!2sus!4v1533011533879" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <h4>First Presbyterian to Palma Ceia Country Club</h4>
          </a>
          <p>
            The wedding ceremony is at First Presbyterian Church in downtown Tampa, a 10 minute drive from the reception at Palma Ceia. There is plenty of street and garage parking near First Pres, and Palma Ceia will offer complimentary valet.
          </p>
        </div>
      </div>

      <div class="weather">
        <h3>Weather Report</h3>
        <p>
          Tampa is reliably sunny and warm, and March is usually beautiful! Highs are usually in the mid 70s, with temperatures dropping
          to the 60s at night.
        </p>
        <a href="https://weather.com/weather/monthly/l/USFL0481:1:US"
          target="_blank">
          <div class="weather-glyph">
            <img src="/sunny.png" />
            <span class="high">75&deg;</span>
            <span class="low">60&deg;</span>
          </div>
        </a>
      </div>

    </div>
  </section>

  <section id="lodging">
    <div class="header">
      <div class="content">
        <h2>Lodging</h2>
      </div>
    </div>
    <div class="content">

      <h3> Reserved Hotel Blocks </h3>
      <p>
        We have reserved blocks with discounted rates at four hotels in Downtown Tampa. Visit the links below for access to these rooms.

        <br><br>

        <b>Note: The last day to book hotel rooms is February 15, except for the Epicurean which has an earlier cutoff of February 8.</b>
      </p>

      <div class="columns">
        <div class="place">
          <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Greene%20Popp%20Wedding%20Room%20Block%5ETPAAK%60GPWGPWA%7CGPWGPWB%60269.00-279.00%60USD%60false%604%603/8/19%603/10/19%602/8/19&app=resvlink&stop_mobi=yes" target="_blank">
            <img src="/photos/hotels/epicurean.jpg" width="300" />
            <h4>Epicurean Hotel</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.starwoodmeeting.com/events/start.action?id=1806126976&key=13C80EB1" target="_blank">
            <img src="/photos/hotels/aloft-water.jpg" width="300" />
            <h4>Aloft Downtown</h4>
          </a>
        </div>

        <div class="place">
          <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Popp%20Greene%20Wedding%5ETPADT%60PGWPGWA%7CPGWPGWB%60209%60USD%60false%605%60;TPATD%60pgwpgwa%7Cpgwpgwb%60220%60USD%60false%605%603/8/19%603/10/19%602/15/19&app=resvlink&stop_mobi=yes" target="_blank">
            <img src="/photos/hotels/courtyard.jpg" width="300" />
            <h4>Courtyard by Marriott</h4>
          </a>
        </div>

        <div class="place">
          <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Popp%20Greene%20Wedding%5ETPADT%60PGWPGWA%7CPGWPGWB%60209%60USD%60false%605%60;TPATD%60pgwpgwa%7Cpgwpgwb%60220%60USD%60false%605%603/8/19%603/10/19%602/15/19&app=resvlink&stop_mobi=yes" target="_blank">
            <img src="/photos/hotels/residence-inn.jpg" width="300" />
            <h4>Residence Inn by Marriott</h4>
          </a>
        </div>
      </div>

      <h3>Alternatives</h3>
      <p>
        If you prefer to stay elsewhere, there are a number of alternative hotels near the festivities.
      </p>

      <div class="columns">

        <div class="place">
          <a href="https://www.marriott.com/hotels/travel/tpamc-tampa-marriott-waterside-hotel-and-marina/" target="_blank">
            <img src="/photos/hotels/alternates/marriott-waterside.jpg" width="300" />
            <h4>Tampa Marriott Waterside</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.airbnb.com/s/tampa/homes?refinement_paths%5B%5D=%2Fhomes&query=tampa&click_referer=t%3ASEE_ALL%7Csid%3A050eb43b-ce8d-4fc2-8aa8-b35b9fc676fc%7Cst%3AMAGAZINE_HOMES&title_type=MAGAZINE_HOMES&allow_override%5B%5D=&s_tag=8FoxfU1Yl" target="_blank">
            <img src="/photos/hotels/alternates/airbnb.jpg" width="300" />
            <h4>AirBnb</h4>
          </a>
        </div>
      </div>

    </div>
  </section>

  <section id="guide">
    <div class="header">
      <div class="content">
        <h2>Travel Guide</h2>
      </div>
    </div>
    <div class="content">

      <p>Tampa is a fun place to explore. We hope that you get a little extra time to find an adventure or something good to eat.
        We've collected a few suggestions of our favorite things to eat, see, and do.</p>

      <div class="columns">
        <div>
          <h3>Food</h3>

          <a class="place" href="https://www.buddybrew.com/" target="_blank">
            <img src="/photos/places/buddy-brew.jpg" />
            <h4>Buddy Brew</h4>
          </a>

          <a class="place" href="http://armatureworks.com/" target="_blank">
            <img src="/photos/places/armatureworks.jpg" />
            <h4>Armature Works</h4>
          </a>

          <a class="place" href="http://www.bellasitaliancafe.com/" target="_blank">
            <img src="/photos/places/bellas.jpg" />
            <h4>Bella's Italian Cafe</h4>
          </a>

          <a class="place" href="http://www.wrightsgourmet.com/" target="_blank">
            <img src="/photos/places/wrights.jpg" />
            <h4>Wright's Gourmet House</h4>
          </a>

        </div>

        <div>
          <h3>Drink</h3>

          <a class="place" href="http://angrychairbrewing.com/" target="_blank">
            <img src="/photos/places/angry-chair.jpg" />
            <h4>Angry Chair Brewing</h4>
          </a>

          <a class="place" href="https://cigarcitybrewing.com/" target="_blank">
            <img src="/photos/places/cigar-city.jpg" />
            <h4>Cigar City Brewery</h4>
          </a>

          <a class="place" href="http://diveintampabay.com/2010/12/10/south-howards-best-retaurants-and-bars/" target="_blank">
            <img src="/photos/places/soho.jpg" />
            <h4>South Howard</h4>
          </a>

          <a class="place" href="https://www.cyclebrewing.com/" target="_blank">
            <img src="/photos/places/cycle-brewing.jpg" />
            <h4>Cycle Brewing</h4>
          </a>

        </div>
      </div>

      <div class="columns">
        <div>
          <h3>Outside</h3>

          <a class="place" href="" target="_blank">
            <img src="/photos/places/riverwalk.jpg" />
            <h4>Tampa Bay Riverwalk</h4>
          </a>

          <a class="place" href="" target="_blank">
            <img src="/photos/places/stpetebeach.jpg" />
            <h4>St. Petersburg Beach</h4>
          </a>

          <a class="place" href="http://riverwalkboating.com/" target="_blank">
            <img src="/photos/places/boating.jpg" />
            <h4>Riverwalk Boating</h4>
          </a>

        </div>

        <div>
          <h3>Shopping + Art</h3>

          <a class="place" href="https://www.hydeparkvillage.com/" target="_blank">
            <img src="/photos/places/hyde-park.jpg" />
            <h4>Hyde Park Village</h4>
          </a>

          <a class="place" href="http://tampamuseum.org/" target="_blank">
            <img src="/photos/places/museumofart.jpg" />
            <h4>Tampa Museum of Art</h4>
          </a>

          <a class="place" href="https://oxfordexchange.com/" target="_blank">
            <img src="/photos/places/oxford-exchange.jpg" />
            <h4>Oxford Exchange</h4>
          </a>

        </div>
      </div>

    </div>
  </section>

  <section id="gifts">
    <div class="header">
      <div class="content">
        <h2>Gifts &amp; Registry</h2>
      </div>
    </div>
    <div class="content">
      <p>
        We kindly ask that if you choose to purchase a gift, please opt to deliver it to our home address in Texas. Thank you!
      </p>

      <div class="columns" style="align-content: top">
        <div class="place">
          <a href="https://www.crateandbarrel.com/gift-registry/haley-greene-and-dustin-popp/r5851171" target="_blank">
            <img src="/photos/registry/crate-and-barrel.jpg" width="300" />
            <h4>Crate + Barrel</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.westelm.com/registry/czvxpdhcdj/registry-list.html" target="_blank">
            <img src="/photos/registry/west-elm.jpg" width="300" />
            <h4>West Elm</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.amazon.com/wedding/haley-greene-dustin-popp-tampa-march-2019/registry/7DGE6COI1BN4" target="_blank">
            <img src="/photos/registry/amazon.jpg" width="300" />
            <h4>Amazon</h4>
          </a>
        </div>
      </div>

    </div>
  </section>

  <footer>

    <img src="/hd-final.png" width=250px height="auto">

  </footer>
</body>

</html>